summary::-webkit-details-marker { display: none !important; }
summary::marker { content: ""; }

details summary {
  cursor: pointer;
  padding: .25em 0;
  position: relative;
}
details summary::before {
  content: "▶";
  display: inline-block;
  width: 1em;
  margin-right: .25em;
  transition: transform .15s ease;
}
details[open] summary::before {
  content: "▼";
}
